html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.div_width{width: 50%}
.heading1{font-family:GungsuhChe; font-size:42px;}
input{
	padding-left:5px;
	border-radius: 5px;
	height: auto;
	width:50%;
	margin-top:4px; margin-bottom: 4px;
	font-family: inherit;
	font-size: 30px;
	color:gray;
	
}
input:focus { 
    outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}

input.button_mine{border: 2px solid #ED188A; background-color:white; padding:10px 10px; border-radius:5px; text-decoration:none; color:#ED188A; font-size:26px; width:30%;cursor: pointer;}
input.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:10px 10px; border-radius:5px; color:white;  font-size:26px;}


@media screen and (max-width:500px){
.div_width{width:80%}
.heading1{font-family:GungsuhChe; font-size:32px;}

input.button_mine{border: 2px solid #ED188A; background-color:white; padding:10px 10px; border-radius:5px; text-decoration:none; color:#ED188A; font-size:22px; width:30%;cursor: pointer;}
input.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:10px 10px; border-radius:5px; color:white;  font-size:22px;}

}