html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {background-color: #efefef;}
p.fab{margin-bottom:1px; margin-top:1px; margin-left:1px;margin-right:2px; font-size: 38px; font-family: GungsuhChe; 
color: white; color:#ED188A; text-shadow: 5px 5px 5px #D2D0D9;}
p.fab_sub{margin-top:1px; margin-bottom:1px; font-family:ar decode; font-size:34px;}
img.socialicons{margin-left: 5px; margin-right: 5px; margin-top:2px; margin-bottom:2px; vertical-align: middle; align: middle;}
img.logo{width:95px; height:95px;}
.logo_frame{width:105px; height:105px;}
a.jempton{font-size:16px; color:#999999; text-decoration:none;}
a.jempton:hover{color:#ED188A; text-decoration:none;}


.reason_heading{color:#ED188A; font-size:34px; padding:15px; margin:0px;}
.reason_body{color:#5a5a5a; font-size:20px; padding:15px; margin:0px; text-align:justify;}
.reason_body_big{color:#5a5a5a; font-size:28px; padding:15px; margin:0px; text-align:justify;}
.reason_body_table{color:#5a5a5a; font-size:20px; padding:0px; margin:0px; text-align:justify;}
img.table_image{margin:10px;}
.corevalues{font-size:24px; color: #4E4F52; margin:10px;}




@media screen and (max-width:850px){
p.fab{margin-bottom:1px; margin-top:1px; margin-left:1px;margin-right:2px; font-size: 23px; font-family: GungsuhChe, agency fb; 
color: white; color:#ED188A; text-shadow: 5px 5px 5px #D2D0D9;}
p.fab_sub{margin-top:1px; margin-bottom:1px; font-family:ar decode; font-size:17px;}
img.socialicons{margin-left: 2px; margin-right: 2px; margin-top:1px; margin-bottom:1px; vertical-align: middle; align: middle;}
img.logo{width:80px; height:80px;}
.logo_frame{width:85px; height:85px;}


.reason_heading{color:#ED188A; font-size:24px; padding:5px; margin:0px;}
.reason_body{color:#5a5a5a; font-size:16px; padding:5px; margin:0px; text-align:justify;}
.reason_body_big{color:#5a5a5a; font-size:22px; padding:5px; margin:0px; text-align:center;}
.reason_body_table{color:#5a5a5a; font-size:14px; padding:0px; margin:0px; text-align:left;}
img.table_image{width:0px; height:0px;}
td.table_image{width:0px;}
}