html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {background-color: #efefef;}
p.fab{margin-bottom:1px; margin-top:1px; margin-left:1px;margin-right:2px; font-size: 38px; font-family: GungsuhChe; 
color: white; color:#ED188A; text-shadow: 5px 5px 5px #D2D0D9;}
p.fab_sub{margin-top:1px; margin-bottom:1px; font-family:ar decode; font-size:24px; font-style:italic;}
img.socialicons{margin-left: 5px; margin-right: 5px; margin-top:2px; margin-bottom:2px; vertical-align: middle; align: middle;}
img.logo{width:95px; height:95px;}
.logo_frame{width:105px; height:105px;}
a.jempton{font-size:16px; color:#999999; text-decoration:none;}
a.jempton:hover{color:#ED188A; text-decoration:none;}
a.gallery{color:#D10171; font-size:26px; margin-left:20px; text-decoration:none; }
a.gallery:hover{text-decoration:none; color:#ED188A;}
td{padding:5px; margin-left:5px; margin-right:5px;}
table{padding:5px; }
.table_font{font-family:inherit; font-size:22px; color:black;}
.service_image{border-radius: 15px; width:100%; height:400px;}
.service_text{font-family: calibri; font-size:30px; color:#ED188A; margin-left:10%; margin-top:3%; margin-bottom:3%; margin-right:10%;}
input.button_mine{border: 2px solid #ED188A; background-color:white; padding:10px 10px; border-radius:5px; text-decoration:none; color:#ED188A; font-size:16px;}
input.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:10px 10px; border-radius:5px; color:white;  font-size:16px;}
a.button_mine{border: 2px solid #ED188A; background-color:white; padding:10px 10px; border-radius:5px; text-decoration:none; color:#ED188A; font-size:16px;}
a.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:10px 10px; border-radius:5px; color:white;  font-size:16px;}
a.logout{text-decoration:none; font-size:18px; background-color:#e6e6e6; color:#ED188A; padding:12px; border-radius:4px;}
a.logout:hover{border:2px solid #d5d5d5;}
img.thumbnail{width:330; height:180; margin-right:10px;}
img.thumbs{width:200; height:130; }
img.cancel_thumb{width:60; height:60; }
.img_desc{color:#ED188A; font-size:24px;}
.img_alt{color:#ED188A; font-size:20px;}

textarea{resize: none; font-family: inherit; font-size: 20px; color:gray; border-radius: 5px; margin-top:4px; margin-bottom: 4px;padding-left:5px; width: 50%;
	display: block;}
textarea:focus{
	outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}	

input{
	padding-left:5px;
	border-radius: 5px;
	height: auto;
	margin-top:4px; margin-bottom: 4px;
	font-family: inherit;
	font-size: 18px;
	color:gray;
	
}
input:focus { 
    outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}

input.button{
	padding-left:5px;
	border: 1px solid #ED188A;
	border-radius: 5px;
	margin-top:2px; margin-bottom: 2px;
	font-family: inherit;
	font-size: 18px;
	background-color: #ED188A;
	color: #CED0DB;
	cursor: pointer;
	margin-top:4px; margin-bottom: 4px;
	
}
imput.button:hover{background-color:red;}

select{
	padding-left:5px;
	border-radius: 5px;
	height: 35px;
	margin-top:4px; margin-bottom: 4px;
	font-family: inherit;
	font-size: 18px;
	color:gray;	
}
select:focus { 
    outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}


@media screen and (max-width:850px){
p.fab{margin-bottom:1px; margin-top:1px; margin-left:1px;margin-right:2px; font-size: 23px; font-family: GungsuhChe, agency fb; 
color: white; color:#ED188A; text-shadow: 5px 5px 5px #D2D0D9;}
p.fab_sub{margin-top:1px; margin-bottom:1px; font-family:ar decode; font-size:17px;}
img.socialicons{margin-left: 2px; margin-right: 2px; margin-top:1px; margin-bottom:1px; vertical-align: middle; align: middle;}
img.logo{width:80px; height:80px;}
.logo_frame{width:85px; height:85px;}
a.jempton{font-size:16px; color:#999999; text-decoration:none;}
a.jempton:hover{color:#ED188A; text-decoration:none;}
a.gallery{color:#D10171; font-size:20px; margin-left:5px; text-decoration:none; }
a.gallery:hover{text-decoration:none; color:#ED188A;}
.table_font{font-family:inherit; font-size:14px; color:black;}
.service_image{border-radius: 15px; width:100%; height:280px;}
.service_text{font-family: calibri; font-size:18px; color:#ED188A; margin-left:10%; margin-top:3%; margin-bottom:3%; margin-right:10%;}
input.button_mine{border: 2px solid #ED188A; background-color:white; padding:5px 5px; border-radius:3px; text-decoration:none; color:#ED188A; font-size:12px;}
input.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:5px 5px; border-radius:3px; color:white;  font-size:16px;}
a.button_mine{border: 2px solid #ED188A; background-color:white; padding:5px 5px; border-radius:3px; text-decoration:none; color:#ED188A; font-size:12px;}
a.button_mine:hover{border: 2px solid #ED188A; background-color:#ED188A; padding:5px 5px; border-radius:3px; color:white;  font-size:16px;}
.options{font-size: 14px;}
img.thumbnail{width:130; height:80; margin-right:10px;}

a.logout{text-decoration:none; font-size:14px; background-color:#e6e6e6; color:#ED188A; padding:12px; border-radius:4px;}
a.logout:hover{border:2px solid #d5d5d5;}

img.thumbs{width:120; height:70; }
img.cancel_thumb{width:35; height:35; }
.img_desc{color:#ED188A; font-size:19px;}
.img_alt{color:#ED188A; font-size:15px;}

textarea{resize: none; font-family: inherit; font-size: 14px; color:gray; border-radius: 5px; margin-top:4px; margin-bottom: 4px;padding-left:5px; width: 90%;
	display: block;}
textarea:focus{
	outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}	

input{
	padding-left:5px;
	border-radius: 5px;
	
	height: auto;
	width:100px;
	margin-top:4px; margin-bottom: 4px;
	font-family: inherit;
	font-size: 14px;
	color:gray;
	
}
input:focus { 
	border: 25px solid #ED188A;
    outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}

input.button{
	padding-left:5px;
	border: 1px solid #ED188A;
	border-radius: 5px;
	margin-top:2px; margin-bottom: 2px;
	font-family: inherit;
	font-size: 14px;
	background-color: #ED188A;
	color: #CED0DB;
	cursor: pointer;
	margin-top:4px; margin-bottom: 4px;
	
}
imput.button:hover{background-color:red;}

select{
	padding-left:5px;
	border-radius: 5px;
	height: 35px;
	margin-top:4px; margin-bottom: 4px;
	font-family: inherit;
	font-size: 14px;
	color:gray;	
}
select:focus { 
    outline: none;
    border-color: #ED188A;
    box-shadow: 0 0 10px #ED188A;
}
}

